<aside>
    <h1> Cateogires </h1>
    {{#categories}}
        {{> ../partials/category-list}}
    {{/categories}}
</aside>

<section class="c-product-list">
    <h1> Products </h1>

    {{#products}}
        {{> ../partials/product-list}}
    {{/products}}
</section>
