<aside>
    <h1> Categories </h1>
    <ul class="js-category-list c-category-list">
        {{> ../partials/category-list}}
    </ul>
</aside>

<section class="c-product-list">
    <h1> Products </h1>

    <ul class="js-product-list">
        {{> ../partials/product-list}}
    </ul>
</section>
